div h1 {
  color: tomato;
  font-weight: bolder; }

div h2 {
  color: tomato; }

div h5 {
  color: tomato; }

div p {
  color: black;
  font-style: italic; }

li {
  color: white;
  font-size: 20px; }
  li:hover {
    background: chocolate; }
