* {
  margin: 0;
  padding: 0; }

div h1 {
  color: tomato;
  font-weight: bolder; }

div h2 {
  color: tomato; }

div h5 {
  color: tomato; }

div p {
  color: black;
  font-style: italic; }

li {
  color: white;
  font-size: 20px; }
  li:hover {
    background: chocolate; }

.card {
  border: #a79d9d;
  border-width: 2px;
  border-style: outset;
  padding: 10px;
  margin: 10px; }

.horizontalCard {
  border: #a79d9d;
  border-width: 2px;
  border-style: outset;
  padding: 10px;
  margin: 10px;
  border-style: inset; }

#accordionPanelsStayOpenExample {
  padding: 50px; }

footer {
  background-color: black;
  font-style: normal;
  color: white;
  justify-content: space-evenly;
  align-content: center; }

.textoFooter {
  color: white;
  width: 100%;
  align-content: center;
  justify-content: space-evenly; }

.introSection {
  display: flex;
  height: 100  px;
  max-width: 100%;
  background: tomato;
  color: white;
  text-align: center;
  padding: 20px;
  align-items: center;
  justify-content: center;
  justify-self: center; }

.titleSection {
  color: tomato;
  text-align: center;
  padding: 50px; }

.textoSection {
  color: white;
  align-content: center;
  justify-content: space-evenly; }

.container m-5 text-center {
  display: flex;
  padding: 0;
  margin: 0; }

form {
  text-align: center;
  padding: 50px; }

.imagenMedico {
  text-align: center;
  padding: 50px;
  width: 60%;
  height: auto; }
