@import "variables";

div{
    h1{
        color: $textoColorPrimario;
        font-weight: bolder;
    }
    h2{
        color: $textoColorPrimario;
    }
    h5{
        color: $textoColorPrimario;
    }
    p{
        color: $textoColorSecundario;
        font-style: italic;
    }
}

li{
    color: white;
      font-size: 20px;
      &:hover{
          background: chocolate;
      }
}
@mixin estiloCards
{   border: rgb(167, 157, 157) ;
    border-width: 2px;
    border-style: outset;
    padding: 10px;
    margin: 10px;
    
}
.card {   @include estiloCards()
    
}
.horizontalCard {   @include estiloCards()
border-style: inset;
}
@mixin entradasForo{
    padding: 50px;
}
#accordionPanelsStayOpenExample{
    @include entradasForo()
}
footer{
    background-color: black;
    font-style: normal;
    color: white;
    justify-content: space-evenly;
    align-content: center;
   }
   .textoFooter{
       color: white;
       width: 100%;
       align-content: center;
       justify-content: space-evenly;
   }
   .introSection{
       display: flex;
       height: 100  px;
       max-width: 100%;
       background: tomato;
       color: white;
       text-align: center;
       padding: 20px;
       margin-bottom: 20px;
       align-items: center;
       justify-content: center;
       justify-self: center;
   }
   .titleSection{
       color: tomato;
       text-align: center;
       padding: 50px;
   }
   .textoSection{
       color: white;
       align-content: center;
       justify-content: space-evenly;
   }
   .container m-5 text-center{
       display: flex;
   }
   form{
       text-align: center;
       padding: 50px;
   }
