*{
	margin: 0;
	padding: 0;
}
li{
    color: white;
    font-size: 20px;
}
li a:hover{
        background: chocolate;
    }
p{
    padding: 20px;
    width: auto;
    margin: auto;
    max-width: 700px;
    font-style: italic;
    font-size: 20px;
    line-height: 1.6;
    color: tomato;
    }
h2{
    width: auto;
    margin: auto;
    padding: 20px;
    font-weight: bolder;
    max-width: 700px;
    font-size: 30px;
    color: tomato;
}
footer{
    background-color: black;
    font-style: normal;
    color: white;
    justify-content: space-evenly;
    align-content: center;
   }
   .textoFooter{
       color: white;
       width: 100%;
       align-content: center;
       justify-content: space-evenly;
   }
    .container{
               transition: all 100ms;
           }
    .container :hover{
        transform: scale(1.02);
<<<<<<< HEAD
    }
=======
    }
>>>>>>> eac9297e8a374c970726ae469acc72435c16a037
